	.blockContainer{
		width:400px;
	}
	.col-md-2 test{/* มีความหมายอะไร */
	float: left;
	border:1px; 

	height:40px; 
	width:200px
	}
	.col-md-2 mm{/* มีความหมายอะไร */
	float: left; 
	border:1px;

	height:40px; 
	width:150px;
	}
		
		


